<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <%- include("nav.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <div class="container input-group mb-2">
      <input class="form-control" id="search-input" />
      <button class="input-group-append btn btn-danger" id="search">
        검색
      </button>
    </div>

    <script>
      $("#search").click(function () {
        const inputvalue = $("#search-input").val();
        window.location.replace("/search?value=" + inputvalue);
      });
    </script>

    <div class="container">
      <ul class="list-group">
        <% for (let i = 0; i < posts.length; i ++) { %>
        <li class="list-group-item">
          <!-- <p>글번호 : <%= posts[i]._id %></p> -->
          <h4><%= posts[i].title %></h4>
          <p>User : <%= posts[i].user %></p>
          <p><%= posts[i].date %></p>
          <!-- <button class="btn btn-danger delete" data-id="<%= posts[i]._id %>">
            삭제하기
          </button>
          <button
            type="button"
            class="btn btn-success"
            onclick="location.href='edit/<%= posts[i]._id %>'"
          >
            수정하기
          </button> -->
        </li>
        <% } %>
      </ul>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
